<configuration>

    <springProfile name="default">

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <!-- Platzhalterwert für Dateiname erzeugen -->
        <timestamp key="startsekunde" datePattern="yyyy-MM-dd_HH.mm.ss"/>

        <!-- Appender nur für Datei mit Log-Nachrichten vom Load-Balancer -->
        <appender name="LOAD_BALANCER_DATEI_LOG" class="ch.qos.logback.core.FileAppender">
            <file>LoadBalancer-${startsekunde}.log</file>       
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
            </encoder>
            <filter class="de.eldecker.spring.buchabfrage.restclient.LogFileFilter" />
        </appender>

        <root level="info">
            <appender-ref ref="CONSOLE" />
        </root>

        <!-- Logger für Paket org.springframework.cloud.client.loadbalancer -->
        <logger name="org.springframework.cloud.client.loadbalancer" level="debug" additivity="false">
            <appender-ref ref="LOAD_BALANCER_DATEI_LOG" />
        </logger>

    </springProfile>


    <springProfile name="ELK">

        <!--
            https://betterstack.com/community/questions/send-spring-boot-logs-directly-to-logstash-with-no-file/
        -->
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>localhost:5044</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <providers>
                    <timestamp />
                    <logger />
                    <thread />
                    <level />
                    <message />
                    <logstashMarkers />
                    <arguments />
                    <mdc /><!-- Mapped Diagnostic Context -->
                    <context />
                </providers>
            </encoder>
        </appender>

        <!-- Optional: Add a console appender for local debugging -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="LOGSTASH" />
            <appender-ref ref="CONSOLE" />
        </root>

    </springProfile>

</configuration>